<div class="app-container">
    <div class="container-card">
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                    <h3>Global Sales by Top Locations</h3>
                    <p>All products that were shipped</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h3 class="title">Email Statistics</h3>
                    <p class="category">Last Campaign performance</p>
                </div>
                <div class="content">
                    <app-graph1></app-graph1>
                </div>
                <div class="footer">
                    <div class="legend">
                        <span>
                            <i class="fa fa-circle text-info"></i>Open
                        </span>
                        <span>
                            <i class="fa fa-circle text-danger"></i>Bounce
                        </span>
                        <span>
                            <i class="fa fa-circle text-warning"></i>Unsubscribe
                        </span><hr>
                    </div>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i>
                        Campaign sent 2 days ago
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h3 class="title">User Behavior</h3>
                    <p class="category">24 hours performance</p>
                </div>
                <div class="content">
                    <app-graph2></app-graph2>
                </div>
                <div class="footer">
                    <div class="legend">
                        <span>
                            <i class="fa fa-circle text-info"></i>Open
                        </span>
                        <span>
                            <i class="fa fa-circle text-danger"></i>Click
                        </span>
                        <span>
                            <i class="fa fa-circle text-warning"></i>Click Second Time
                        </span><hr>
                    </div>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i>
                        Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h3 class="title">2014 Sales</h3>
                    <p class="category">All Products including Taxes</p>
                </div>
                <div class="content">
                    <app-graph3></app-graph3>
                </div>
                <div class="footer">
                    <div class="legend">
                        <span>
                            <i class="fa fa-circle text-info"></i>Tesla Model s
                        </span>
                        <span>
                            <i class="fa fa-circle text-danger"></i>BMW 5 Series
                        </span>
                    </div>
                    <div class="stats">
                        <i class="fa fa-history"></i>
                        Data Information Certified
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h3 class="title">Tasks</h3>
                    <p class="category">Backend development</p>
                </div><hr>
                <div class="content">
                    <div class="tabel-full-width">
                        <div class="tabel">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox1">
                                            <label for="checkbox1"></label>
                                        </div>
                                    </td>
                                    <td>Sign contract for 'What are conference organizers afraid of ?'</td>
                                    <td class="td-actions text-right">
                                        <button class="btn"  type="button">
                                            <i class="bin">
                                                <mat-icon>edit</mat-icon>
                                                <mat-icon>delete</mat-icon>
                                            </i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody><hr>
                        </div>
                    </div>
                </div><hr>
                <div class="footer">
                    <div class="stats">
                        <i class="fa fa-clock-o"></i>
                        Updated 3 minutes ago ago
                    </div>
                </div>
            </div>
        </div><br>
    </div>
</div>