<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
		(mouseleave)="mouseleave()">
		<div class="logo">
			<div class="logo-img">
				<img src="../assets/images/angular2-logo-white.png">
			</div>
			<a class="text" href="" *ngIf="isExpanded || isShowing">Angular</a>
		</div>
		<hr>
		<!--PROFILE-->
		<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
			<div class="photo">
				<img class="img2" src="../assets/images/minions11111.jpg">
			</div>
			<span class="profile-name" *ngIf="isExpanded || isShowing">Prasanth</span>
		</button>
		<mat-menu class="menu-width" #menu="matMenu">
			<button mat-menu-item>
				<span class="sidebar-mini">MP</span>
				<span class="sidebar-normal" mat-list-item>My Profile</span><br>
			</button>
			<button mat-menu-item disabled>
				<span class="sidebar-mini">EP</span>
				<span class="sidebar-normal" mat-list-item>Edit Profile</span><br>
			</button>
			<button mat-menu-item>
				<span class="sidebar-mini">S</span>
				<span class="sidebar-normal" mat-list-item>Settings</span>
			</button>
		</mat-menu>
		<hr>
		<!--DASHBOARD-->
		<button mat-icon-button>
			<mat-icon class=icon1>dashboard</mat-icon>
			<span class="name-title" *ngIf="isExpanded || isShowing" href="#">Dashboard</span>
		</button><br>
		<!--COMPONENTS-->
		<button mat-icon-button [matMenuTriggerFor]="menu1" aria-label="Example icon-button with a menu">
			<mat-icon class=icon1>card_giftcard</mat-icon>
			<span class="name-title" *ngIf="isExpanded || isShowing">Components</span>
		</button>
		<mat-menu #menu1="matMenu">
			<button mat-menu-item>
				<span class="sidebar-mini">B</span>
				<span class="sidebar-normal" mat-list-item>Buttons</span><br>
			</button>
			<button mat-menu-item>
				<span class="sidebar-mini">GS</span>
				<span class="sidebar-normal" mat-list-item>Grid System</span><br>
			</button>
			<button mat-menu-item>
				<span class="sidebar-mini">P</span>
				<span class="sidebar-normal" mat-list-item>Panels</span>
			</button>
			<button mat-menu-item>
				<span class="sidebar-mini">SA</span>
				<span class="sidebar-normal" mat-list-item>Sweet Alert</span><br>
			</button>
			<button mat-menu-item>
				<span class="sidebar-mini">N</span>
				<span class="sidebar-normal" mat-list-item>Notifications</span><br>
			</button>
			<button mat-menu-item>
				<span class="sidebar-mini">I</span>
				<span class="sidebar-normal" mat-list-item>Icons</span>
			</button>
			<button mat-menu-item>
				<span class="sidebar-mini">T</span>
				<span class="sidebar-normal" mat-list-item>Typography</span>
			</button>
		</mat-menu><br>

		<!--Forms-->
		<button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
			<mat-icon class=icon1>note_alt</mat-icon>
			<span class="name-title" *ngIf="isExpanded || isShowing">Forms</span>
		</button>
		<mat-menu #menu2="matMenu">
			<button mat-menu-item>
				<span class="sidebar-mini">RF</span>
				<span class="sidebar-normal" mat-list-item>Regular Forms</span>
			</button>
			<button mat-menu-item>
				<span class="sidebar-mini">EF</span>
				<span class="sidebar-normal" mat-list-item>Extended Forms</span>
			</button>
			<button mat-menu-item>
				<span class="sidebar-mini">VF</span>
				<span class="sidebar-normal" mat-list-item>Validation Forms</span>
			</button>
			<button mat-menu-item>
				<span class="sidebar-mini">N</span>
				<span class="sidebar-normal" mat-list-item>Wizard</span>
			</button>
		</mat-menu><br>

		<!--TABLES-->
		<button mat-icon-button [matMenuTriggerFor]="menu3" aria-label="Example icon-button with a menu">
			<mat-icon class=icon1>description</mat-icon>
			<span class="name-title" *ngIf="isExpanded || isShowing">Tables</span>
		</button>
		<mat-menu #menu3="matMenu">
			<button mat-menu-item>
				<span class="sidebar-mini">RT</span>
				<span class="sidebar-normal" mat-list-item>Regular Tables</span>
			</button>
			<button mat-menu-item>
				<span class="sidebar-mini">ET</span>
				<span class="sidebar-normal" mat-list-item>Extended Tables</span>
			</button>
			<button mat-menu-item>
				<span class="sidebar-mini">DT</span>
				<span class="sidebar-normal" mat-list-item>Datatables.net</span>
			</button>
		</mat-menu><br>

		<!--MAPS-->
		<button mat-icon-button [matMenuTriggerFor]="menu4" aria-label="Example icon-button with a menu">
			<mat-icon class=icon1>location_on</mat-icon>
			<span class="name-title" *ngIf="isExpanded || isShowing">Maps</span>
		</button>
		<mat-menu #menu4="matMenu">
			<button mat-menu-item>
				<span class="sidebar-mini">GM</span>
				<span class="sidebar-normal" mat-list-item>Google Maps</span>
			</button>
			<button mat-menu-item>
				<span class="sidebar-mini">FSM</span>
				<span class="sidebar-normal" mat-list-item>Full Screen Map</span>
			</button>
			<button mat-menu-item>
				<span class="sidebar-mini">VM</span>
				<span class="sidebar-normal" mat-list-item>Vector Map</span>
			</button>
		</mat-menu><br>

		<!--CHARTS-->
		<button mat-icon-button [matMenuTriggerFor]="menu5" aria-label="Example icon-button with a menu">
			<mat-icon class=icon1>show_chart</mat-icon>
			<span class="name-title" *ngIf="isExpanded || isShowing">Charts</span>
		</button>
		<mat-menu #menu5="matMenu">
			<button mat-menu-item>
				<mat-icon>dialpad</mat-icon>
				<span>Redial</span>
			</button>
			<button mat-menu-item disabled>
				<mat-icon>voicemail</mat-icon>
				<span>Check voice mail</span>
			</button>
			<button mat-menu-item>
				<mat-icon>notifications_off</mat-icon>
				<span>Disable alerts</span>
			</button>
		</mat-menu><br>

		<!--CALENDAR-->
		<button mat-icon-button [matMenuTriggerFor]="menu6" aria-label="Example icon-button with a menu">
			<mat-icon class=icon1>event</mat-icon>
			<span class="name-title" *ngIf="isExpanded || isShowing">Calendar</span>
		</button>
		<mat-menu #menu6="matMenu">
			<button mat-menu-item>
				<mat-icon>dialpad</mat-icon>
				<span>Redial</span>
			</button>
			<button mat-menu-item disabled>
				<mat-icon>voicemail</mat-icon>
				<span>Check voice mail</span>
			</button>
			<button mat-menu-item>
				<mat-icon>notifications_off</mat-icon>
				<span>Disable alerts</span>
			</button>
		</mat-menu><br>

		<!--PAGES-->
		<button mat-icon-button [matMenuTriggerFor]="menu7" aria-label="Example icon-button with a menu">
			<mat-icon class=icon1>redeem</mat-icon>
			<span class="name-title" *ngIf="isExpanded || isShowing">Pages</span>
		</button>
		<mat-menu #menu7="matMenu">
			<button mat-menu-item>
				<mat-icon>dialpad</mat-icon>
				<span>Redial</span>
			</button>
			<button mat-menu-item disabled>
				<mat-icon>voicemail</mat-icon>
				<span>Check voice mail</span>
			</button>
			<button mat-menu-item>
				<mat-icon>notifications_off</mat-icon>
				<span>Disable alerts</span>
			</button>
		</mat-menu><br>

		<!--DOCUMENTATION-->
		<button mat-icon-button [matMenuTriggerFor]="menu8" aria-label="Example icon-button with a menu">
			<mat-icon class=icon1>school</mat-icon>
			<span class="name-title" *ngIf="isExpanded || isShowing">Documentation</span>
		</button>
		<mat-menu #menu8="matMenu">
			<button mat-menu-item>
				<mat-icon>dialpad</mat-icon>
				<span>Redial</span>
			</button>
			<button mat-menu-item disabled>
				<mat-icon>voicemail</mat-icon>
				<span>Check voice mail</span>
			</button>
			<button mat-menu-item>
				<mat-icon>notifications_off</mat-icon>
				<span>Disable alerts</span>
			</button>
		</mat-menu><br>
	</mat-sidenav>
	<mat-toolbar class="example-toolbar">
		<button mat-icon-button (click)="isExpanded = !isExpanded">
			<mat-icon>more_vert</mat-icon>
		</button>
		<h1 class="example-app-name">Dashboard</h1>
		<div class="search-box">
			<mat-icon>search</mat-icon>
			<input type="text" mat-input mat-input-button placeholder="Search...">
		</div>

		<!--STATS-->
		<button class="Stats" mat-icon-button aria-label="Example icon-button with a menu" routerLink="">
			<label>
				<mat-icon>show_chart</mat-icon>Stats
			</label>
		</button>

		<!--GAVEL-->
		<button class="gavel" mat-icon-button [matMenuTriggerFor]="menu9" aria-label="Example icon-button with a menu">
			<mat-icon>gavel</mat-icon>
		</button>
		<mat-menu #menu9="matMenu">
			<button mat-menu-item>
				<span>Create New Post</span>
			</button>
			<button mat-menu-item>
				<span>Manage Something</span>
			</button>
			<button mat-menu-item>
				<span>Do Nothing</span>
			</button>
			<button mat-menu-item>
				<span>Submit to live</span>
			</button>
			<hr>
			<button mat-menu-item>
				<span>Another Action</span>
			</button>
		</mat-menu>
		<!--NOTIFICATIONS-->
		<button class="notifications" mat-icon-button [matMenuTriggerFor]="menu10">
			<mat-icon>notifications</mat-icon>
		</button>
		<mat-menu #menu10="matMenu">
			<button mat-menu-item>
				<span>Notification 1</span>
			</button>
			<button mat-menu-item>
				<span>Notification 2</span>
			</button>
			<button mat-menu-item>
				<span>Notification 3</span>
			</button>
			<button mat-menu-item>
				<span>Notification 4</span>
			</button>
			<button mat-menu-item>
				<span>Another notification</span>
			</button>
		</mat-menu>

		<!--LIST-->
		<button class="list-bulleted" mat-icon-button [matMenuTriggerFor]="menu11">
			<mat-icon>format_list_bulleted</mat-icon>
		</button>
		<mat-menu #menu11="matMenu">
			<button mat-menu-item>
				<mat-icon>email</mat-icon>
				<span>Messages</span>
			</button>
			<button mat-menu-item disabled>
				<mat-icon>help_outline</mat-icon>
				<span>Help Center</span>
			</button>
			<button mat-menu-item>
				<mat-icon>construction</mat-icon>
				<span>Settings</span>
			</button>
			<hr>
			<button mat-menu-item>
				<mat-icon>lock</mat-icon>
				<span>Lock Screen</span>
			</button>
			<button mat-menu-item disabled>
				<mat-icon class="danger">cancel</mat-icon>
				<span class="danger">Log out</span>
			</button>
		</mat-menu>


	</mat-toolbar>

	<div class="example-sidenav-content">
		<app-card></app-card>
	</div>

</mat-sidenav-container>